<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
{% extends "layout.html" %}

{%block left%}

<li class="layui-nav-item layui-nav-itemed">
    <a href="javascript:;">实体模块</a>
    <dl class="layui-nav-child">
        <dd><a href="/container">货物进口商模块</a></dd>
        <dd><a href="/container">委托人模块</a></dd>
        <dd><a href="/carrier">运输机构模块</a></dd>
        <dd><a href="/container">仓库机构模块</a></dd>
        <dd><a href="/maritime">海事部门模块</a></dd>
        <dd><a href="/maritime">应急部门模块</a></dd>
        <dd><a href="/maritime">交通部门模块</a></dd>
        <dd><a href="/maritime">公安部门模块</a></dd>
    </dl>
</li>

{%endblock%}

{%block main%}
<div class="layui-row layui-col-space15">
    <div class="layui-col-md6">
        <div class="layui-panel">
            <div style="padding: 30px;">货物进口商数量： {{count[0]}}</div>
        </div>   
    </div>
    <div class="layui-col-md6">
        <div class="layui-panel">
            <div style="padding: 30px;">委托人数量：{{count[1]}}</div>
        </div>   
    </div>
    <div class="layui-col-md6">
        <div class="layui-panel">
            <div style="padding: 30px;">运输机构数量：{{count[2]}}</div>
        </div>   
    </div>
    <div class="layui-col-md6">
        <div class="layui-panel">
            <div style="padding: 30px;">仓库机构数量：{{count[3]}}</div>
        </div>   
    </div>
    <div class="layui-col-md6">
        <div class="layui-panel">
            <div style="padding: 30px;">海事部门数量：{{count[4]}}</div>
        </div>
    </div>
    <div class="layui-col-md6">
        <div class="layui-panel">
            <div style="padding: 30px;">应急部门数量：{{count[3]}}</div>
        </div>
    </div>
    <div class="layui-col-md6">
        <div class="layui-panel">
            <div style="padding: 30px;">交通部门数量：{{count[3]}}</div>
        </div>
    </div>
    <div class="layui-col-md6">
        <div class="layui-panel">
            <div style="padding: 30px;">公安部门数量：{{count[3]}}</div>
        </div>
    </div>
</div>   
{%endblock%}


